/*
This is a local CSS File to design the Dash app typography
 */

body {
    font-family: sans-serif;
}

.blocks_areas {
    background-color: rgba(0,0,0,0.08);
}

#search-element {
     background-color: white;
}

.text-info {
    cursor: help;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 25px;
}

.display-4 {
    color: white;
}

#hr-header {
    border: 1px solid cornflowerblue;
}