/*
This is a local CSS File to design the Dash app typography
 */

body {
    font-family: sans-serif;
}

#Upload_Link {
    text-decoration: underline;
    color: #4d58ff
}

#table_legend {
    font-size: xx-small;
}